body {
  box-sizing: border-box;
  min-height: 100vh;
  width: 768px;
}

section {
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  place-items: center;
  row-gap: 10px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
}

.ele-border {
  border: 1px solid black;
}

.pink {
  background-color: #ff9999;
}
.blue {
  background-color: #99ccff;
}
.yellow {
  background-color: #f0f285;
}

.green {
  background-color: #9bff99;
}

.start::before{
  content: '*';
  display: block;
  position: absolute;
  left:-10px
}
.start-1::after{
  content: '*';
  display: block;
  position: absolute;
  left:-10px;
  bottom:-5px;
}

.name{
font-size: 12px;
}
